body{
background:black;
color:#00ff9f;
font-family:Courier New;
overflow:hidden;
}

.center{
text-align:center;
margin-top:15%;
}

.panel{
position:absolute;
top:40%;
left:50%;
transform:translate(-50%,-50%);
text-align:center;
}

button{
background:black;
color:#00ff9f;
border:2px solid #00ff9f;
padding:15px;
margin:15px;
cursor:pointer;
font-size:16px;
}

button:hover{
background:#00ff9f;
color:black;
}

canvas{
position:fixed;
top:0;
left:0;
z-index:-1;
}
